html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}
canvas {
  display: block;
}
input {
  display: block;
  position: absolute;
  margin: 0;
  left: 500px;
  top: 400px;
  color: white;
  background-color: black;
  border: 1px solid grey;
  width: 50px;
  height: 20px;
}
